.button:hover {
  background-color: lightgreen;
}

div {
  margin:auto;
  text-align:center;
}

.meter {
  height: 20px;  /* Can be anything */
  position: relative;
  background: rgb(70,70,70);
  border-radius: 25px;
  padding: 7px;

}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  position: relative;

}

#problem_solving_area {
  width:50%;
}
